.blogdisplaying{
   
    height:100vh;
    
  
  }
  .blogdisplaying-appside{
    width:80vw;
    background-color:whitesmoke;
  }
  
  .blogdisplaying-formside{
    width:20vw;
    background-color:#F76C6C;
}
    
.title-display{
  margin-top:20px;
  border: 2px solid black;
  width:50vw;
  
}
.blogcontent-display{
  border: 2px solid black;
  width:60vw;
  height:75vh;
  
}
.navigation-bar{
width:100vw;
}